/* SlideThis required styles for displaying responsive slides */
#slides {
  list-style: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}
#slides li {
  float: left;
  position: relative;
}
#slides li.hidden {
  float: none;
  position: absolute;
}
#slides img {
  display: block;
  width: 100%;
}
